@font-face {
    font-family: 'misterpixel';
    src:  url('../MisterPixelRegular.otf') format('truetype');
}
@font-face {
    font-family: 'alagard';
    src:  url('../Alagardplus.ttf') format('truetype');
}
body {
    background-image: url("../img/bg.png");
    background-position: top center;
    font-family: misterpixel;
    font-size: 48px;
    color: #c3e8f0;
    padding: 0;
    margin: 0;
}

.header{
    text-align: center;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.header > img{
    margin-left: -50px;
    margin-right: -50px;
}

.content{
    width: 800px;
    max-width: 95%;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px #18191f;
}
.bingo-text{
    margin-bottom: 50px;
    font-family: alagard;
    font-size: 52px;
    display: flex;
    justify-content: space-around;
}
input{
    font-family: misterpixel;
    font-size: 48px;
}
.button{
    display: inline-block;
    margin: 20px;
    padding: 20px 50px 30px 50px;
    border: 5px solid #f1a55c;
    border-radius: 15px;
    background-color: #ffd87b;
    user-select: none;
    cursor: pointer;
}

.disabled{
    border: 5px solid #682658;
    background-color: #c93b74;
    color: #682658;
    cursor: auto;
}

.cookiepolicy{
    font-size: 20px;
}

.board{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}
.board-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.board-cell{
    background-color: rgba(3, 9, 39, 0.7);
    position: relative;
    width: 20%;
    margin: 5px;
}
.unlocked{
    background-color: rgba(255, 216, 123, 0.7);
}

.board-cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.cell{
  position: absolute;
    display: flex;
    align-items: center;
  width: 98%;
  height: 98%;
    margin: 1%;
    user-select: none;
    cursor: pointer;
}
.cell div{
    width: 100%;
    font-size: 56px;
    line-height: 56px;
}
@media only screen and (max-width: 700px) {

    .cell div {
        font-size: 40px;
        line-height: 40px;
    }
}
@media only screen and (max-width: 600px) {

    .cell div {
        font-size: 32px;
        line-height: 32px;
    }
}
@media only screen and (max-width: 500px) {

    .cell div {
        font-size: 20px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 400px) {

    .cell div {
        font-size: 16px;
        line-height: 16px;
    }
}